header + .container-fluid {
    padding-top: -80px;
    margin-top: 80px;
}

main.container-fluid {
    padding-bottom: 1.5rem;
}

.list-group-item p {
    margin-bottom: 0;
}

.table a:not(.btn){
    text-decoration: none !important;
}

.navbar {
    background-image: url('images/bubbles.jpg');
}

.nav-link {
    color: white !important;
    font-weight: bold !important;
}

.navbar-brand {
    color: white !important;
    font-weight: bold !important;
}